header {
    background-color: blue;
}

footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
}

.row {
    margin-top: 1%;
}
.size{
    width: 100%;
}
img {
    height: 100%;
    width:100%;
}

body {
    background-color: lightyellow;
}

button {
    margin-left: 30%;
}

.border {
    size: 10;
    height: 100%;
    width:100%;
}
 .lblErr {
     color: red;
 }