<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">
    
    <bean id="name" class="com.wolken.hotel.DI.Hotel">
    	
    </bean>
    
    <bean id="hotel" class="com.wolken.hotel.DI.Hotel">
    	<constructor-arg value="taj"></constructor-arg>
    	<constructor-arg value="mumbai"></constructor-arg>
    	<constructor-arg ref="ownerInfo"></constructor-arg>
    </bean>
    
    <bean id="ownerInfo" class="com.wolken.hotel.DI.OwnerInfo">
    	<property name="ownerName" value="india"></property>
    	<property name="contact" value="9999999999"></property>
    	<property name="city" value="mumbai" ></property>
    </bean>
    
</beans>